{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{player.img}}" alt="{{player.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{player.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'player_update' player.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'player_delete' player.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{player.bio}}</p>
    </div>
    <form class="mb-5" action="{% url 'season_stat_create' player.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="ab"
                    placeholder="AB"
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="ba"
                    placeholder="BA"
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="obp"
                    placeholder="OBP"
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="hr"
                    placeholder="HR"
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="rbi"
                    placeholder="RBI"
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="sb"
                    placeholder="SB"
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="r"
                    placeholder="R"
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="h"
                    placeholder="H"
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="g"
                    placeholder="G"
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="year"
                    placeholder="Year"
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="team"
                    placeholder="Team"
                />
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Add Season Stats" />
            </div>
        </div>
    </form>
    <div class="home__season_stats">
        {% for season_stat in player.season_stats.all %}
            <div class="season_stats mb-5">
                <h3 class="stats">AB: {{season_stat.ab}} |</h3>
                <h3 class="stats">BA: {{season_stat.ba}} |</h3>
                <h3 class="stats">OBP: {{season_stat.obp}} |</h3>
                <h3 class="stats">HR: {{season_stat.hr}} |</h3>
                <h3 class="stats">RBI: {{season_stat.rbi}} |</h3>
                <h3 class="stats">SB: {{season_stat.sb}} |</h3>
                <h3 class="stats">R: {{season_stat.r}} |</h3>
                <h3 class="stats">H: {{season_stat.h}} |</h3>
                <h3 class="stats">G: {{season_stat.g}} |</h3>
                <h3 class="stats">Year: {{season_stat.year}} |</h3>
                <h3 class="stats">Team: {{season_stat.team}}</h3>
            </div>
        {% empty %} 
            <div class="playlist mb-5">There are no stats for this player</div>
        {% endfor %}
    </div>
</div>

{% endblock %}